@import "../../../scss/variables";

.notification{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid $secondary-color-light;

  &:after{
    content: attr(data-number);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    font-size: 14px;
    background-color: $secondary-color;
    border-radius: 50%;
  }
}