@import "../../../scss/variables";

.notification {
  position: relative;

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border: 1px solid $secondary-color-light;
    border-radius: 50%;
    cursor: pointer;
  }

  &:after {
    content: '';
    position: absolute;
    top: 5px;
    right: 10px;
    width: 12px;
    height: 12px;
    background-color: $secondary-color;
    border-radius: 50%;
  }
}