@import "../../scss/variables";

.layout-sidebar {
  display: grid;
  grid-template-columns: $width-sidebar 1fr;

  &__content {
    //Если шапку есть, то вкл это
    //padding: 0 $space-content $space-content;
    padding: $space-content;
  }
}