.auth-page{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;

  &__form {
    width: 100%;
    min-width: 320px;
    max-width: 620px;
  }

  &__title{
    margin-bottom: 20px;
  }
}