$size: 48px;

.avatar {
  width: $size;
  height: $size;
  border-radius: 50%;
  overflow: hidden;

  @media (max-width: 439px) {
    display: none;
  }

  img {
    width: $size;
    height: $size;
    object-fit: cover;
  }
}