@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import "../../scss/variables";

.header {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 16px;
  margin-bottom: $space-content;
  padding-top: $space-content;

  &__title{
    margin-right: auto;
    font-size: 64px;
    font-family: 'Bebas Neue', cursive;
  }
}