@import "../../scss/variables";

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: $main-color;
  min-height: 100vh;
  width: $width-sidebar;

  &__logo {
    margin-top: 35px;
    margin-bottom: 25px;
  }

  & > a {
    padding: 5px;
    border-radius: 5px;

    &.active {
      background-color: $secondary-color-light;
    }

    &:hover {
      background-color: $secondary-color-dark;
    }
  }

  // Все для мобилки
  @media (max-width: 569px) {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 0;
    z-index: 2;
    overflow: hidden;
    transition: all .2s linear;

    &_show {
      width: $width-sidebar;
    }
  }

  &-overlay {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .5;
    z-index: 1;

    &_show {
      display: block;
    }
  }


}